*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    text-align: center;
    background-color: black;
    color: white;
}

.header{
    font-size: 50px;
}

.link{
    color: aquamarine;
}

.text{
    font-size: 21px;
    color: gray;
}

.phone{
    padding: 30px;
}